.container-pantalla{
    display:flex;
    flex-direction: column;
}
.container-usuarios{
    margin: 5%;
    margin-bottom: 0;
}
.contenedor-button-contraseñas{
    display:flex;
    flex-direction: row;
    padding-left: 40%;

}
.container-principal{
    margin-top: 10%;
    border-style: Outset;
    margin-right: 30%;
    margin-left: 30%;
    background-color: ghostwhite;
}
.container-correo{
    margin: 5%;
    margin-bottom: 0;
}
.container-registro{
    padding-right: 5%;
}
